/* Page Styles */
body {
  background-color: #E7E6D4;
  font-family: 'Cinzel', serif;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  border-radius: 10px;
  width: 100%;
  border-radius: 10px;
  border: 10px solid #C7987C;
  overflow: hidden;
  /*position: relative;*/
}

.panel-position {
  position: relative;
}

.panel-text {
  position: absolute;
  bottom: 15%;
  left: 5%;
  border-radius: 3px;
  padding: 1% 2% 0% 2%;
  background-color: black;
  color: #E7E6D4;
  letter-spacing: 1.5px;
  word-spacing: 2px;
  opacity: .75;
}

.panel-text:hover {
  cursor: pointer;
}

.panel-back-info {
  position: absolute;
  top: 1%;
  left: 1%;
}

.panel-back-wine-pic {
  width: 25vw;
  margin-top: 25px;
}

.panel-back-text {
  float: right;
  text-align: right;
  width: 50%;
  margin-top: 10%;
  margin-right: 20%;
  font-size: 3vw;
}

.wines {
  opacity: .4;
  transition: .2s;
  position: absolute;
  bottom: 15%;
  right: 5%;
  width: 15%;
}

.wines:hover {
  opacity: .7;
  transition: .2s;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .wines {
    bottom: 10%;
    right: 5%;
    width: 10%;
  }
}

@media only screen and (min-width: 832px) {
  .panel-back-text {
    float: right;
    text-align: right;
    width: 50%;
    margin-top: 10%;
    margin-right: 15%;
    font-size: 25px;
  }
  .panel-back-wine-pic {
    width: 22vw;
    margin-top: 15px;
  }
}



@media only screen and (min-width: 992px) {
  .panel-text {
    font-size: 25px;
  }
}

/* Flip Styles */
.panel-front {
  backface-visibility: hidden;
}

.panel-back {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  background-color: white;
  transform: rotateY(180deg);
  transition: 0.6s;
}

.panel-back-image {
  opacity: 0.0;
}

.panel-flip {
  transform: rotateY(180deg);
  transition: 0.6s;
  transform-style: preserve-3d;
}
.panel-flip-back {
  transform: rotateY(0deg);
  transition: 0.6s;
  transform-style: preserve-3d;
}

/* Panel Title Styles */
#cigales-sign-full {
  position: relative;
  top: 0;
  width: 100vw;
  height: auto;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}

#panel-title-text {
  position: absolute;
  top: 3%;
  left: 3%;
  text-shadow: 1px 1px 2px black;
  color: #E7E6D4;
  opacity: .9;

}

.text-one {
  font-size: 5vw;
  letter-spacing: 2px;
  word-spacing: 3.5px;
  margin-top: -2%;
}

.text-two {
  font-size: 3.7vw;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  margin-left: 44.5%;
  margin-top: -5%;
}

@media only screen and (min-width: 600px) {
  .text-two {
    margin-top: -2%;
    margin-left: 46%;

  }
}




#panel-two-front {
  transition: 0.6s;
}
#panel-three-front {
  transition: 0.6s;
}
#panel-four-front {
  transition: 0.6s;
}























/*
#panel-two-text {
  position: absolute;
  top: 5%;
  left: 47%;
  right: 5%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1%;
  border-radius: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px black;
  color: white;
  opacity: .9;
}

.text-three {
  font-size: 2vw;
  letter-spacing: 1.5px;
  word-spacing: 3px;
}*/
















/*OLD STYLES*/


/* Panel Three Styles */
/*#red-door {
  position: relative;
  width: 100%;
  height: auto;
}

#panel-three-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px black;
  color: white;
  opacity: .9;
}

#panel-three-left-text {
  position: absolute;
  top: 45%;
  left: 3%;
  max-width: 30%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1%;
  border-radius: 10px;
}

#panel-three-right-text {
  position: absolute;
  top: 45%;
  left: 67%;
  right: 3%;
  max-width: 40%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1%;
  border-radius: 10px;
}

.text-four {
  font-size: 1.3vw;
  letter-spacing: 1px;
  word-spacing: 1px;
}

#panel-three-wine {
  top: 1%;
  left: 1%;
  position: absolute;
  width: 15%;
}

#panel-three-wine:hover {
  cursor: pointer;
}*/

/* Panel Four Styles */
/*#shack {
  position: relative;
  width: 100%;
  height: auto;
}

#panel-four-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px black;
  color: white;
  opacity: .9;
  position: absolute;
  top: 53%;
  left: 3%;
  bottom: 1%;
  max-width: 30%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1% 1% 0% 1%;
  border-radius: 10px;
}

#panel-four-wine {
  bottom: 1%;
  right: 1%;
  position: absolute;
  width: 15%;
}

#panel-four-wine:hover {
  cursor: pointer;
}*/


/* Panel Five Styles */
/*#castle {
  position: relative;
  width: 100%;
  height: auto;
}

#panel-five-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px black;
  color: white;
  opacity: .9;

  position: absolute;
  top: 50%;
  left: 6%;
  max-width: 45%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1% 1% 0% 1%;
  border-radius: 10px;
}

#panel-five-wine {
  bottom: 1%;
  right: 1%;
  position: absolute;
  width: 15%;
}

#panel-five-wine:hover {
  cursor: pointer;
}*/


/*MEDIA QUERIES*/
/*667-phone landscape*/
/*385-pnone portrait*/






/*Panel Two*/
/*@media only screen and (max-width: 667px) {
  .panel-two-front {
    background: url("../img/chimneys.png");
    background-size: cover;
  }
  .panel-two-back {
    background: url("../img/red-door.png");
    background-size: cover;
  }
  .panel-two {
    height: auto;
  }

  #chimneys {
    visibility: hidden;
  }

  #panel-two-text {
    width: 95%;
    top: 35%;
    left: 2.5%;
    right: 2.5%;
    bottom: 2.5%;
  }

  .text-three {
    font-size: 3.5vw;
  }
}
@media only screen and (max-width: 400px) {
  #panel-two-text {
    height: 130%;
    top: 140%;
  }
  .text-three {
    font-size: 5vw;
  }

}*/

/*Panel Three*/
/*@media only screen and (max-width: 667px) {
  #red-door {
    visibility: hidden;
  }
  .panel-three {
    background: url("../img/red-door.png") center;
    background-size: cover;
  }
  #panel-three-left-text {
    top: 4%;
    left: 3%;
    right: 3%;
    max-width: 90%;
  }
  #panel-three-right-text {
    top: 50%;
    left: 3%;
    right: 3%;
    max-width: 90%;
  }
  .text-four {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 400px) {
  .text-four {
    font-size: 4vw;
  }
  #panel-three-right-text {
    top: auto;
    bottom: 0px;
  }
}*/

/*Panel Four*/
/*@media only screen and (max-width: 667px) {
  #shack {
    visibility: hidden;
  }
  .panel-four {
    background: url("../img/shack.png") center;
    background-size: cover;
  }
  #panel-four-text {
    max-width: 95%;
    top: 53%;
    left: 2.5%;
    right: 2.5%;
    bottom: 2.5%;
  }
  #panel-four-wine {
    top: 1%;
    left: 1%;
  }
}
@media only screen and (max-width: 400px) {
  #panel-four-text .text-four {
    font-size: 5vw;
    text-align: justify;
  }
  #panel-four-text {
    left: 4%;
    right: 4%;
    top: 33%;
    bottom: auto;
  }
  #panel-four-wine {
    top: 1%;
    left: 1%;
  }
}*/

/*Panel Five*/
/*@media only screen and (max-width: 667px) {
  #castle {
    visibility: hidden;
  }
  .panel-five {
    background: url("../img/castle.png");
    background-size: cover;
  }
  #panel-five-text {
    max-width: 95%;
    top: 30%;
    left: 2.5%;
  }
  #panel-five-wine {
    top: 1%;
    left: 1%;
  }
}
@media only screen and (max-width: 400px) {
  #panel-five-text .text-four {
    font-size: 4.5vw;
  }
  #panel-five-text {
    left: 4%;
    right: 4%;
    top: 25%;
    bottom: auto;
  }
  #panel-five-wine {
    top: 1%;
    left: 1%;
  }
}
*/
