/* Page Styles */
body {
  background-color: #E7E6D4;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Panel One-All Styles */
.panel-one {
  position: relative;
}

.break {
  display: none;
}

/* Panel One-Images */
#harris-logo {
  position: absolute;
  top: 0;
  width: 50vw;
}

#cigales-words {
  position: absolute;
  top: 0;
  width: 100vw;
  height: auto;
}

#cigales-sign {
  position: relative;
  top: 0;
  width: 100vw;
  height: auto;
}

/* Panel One-Text */
#title-one {
  position: absolute;
  top: -1vh;
  left: 0;
  width: 100%;
}

.letter {
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 6vw;
  letter-spacing: 2px;
  word-spacing: 3.5px;
  text-shadow: 1px 1px 1px black;
  color: #E7E6D4;
  opacity: .9;
}

#title-two {
  margin-top: -20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4.5vw;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-shadow: 1px 1px 1px black;
  color: #E7E6D4;
  opacity: .9;
}

@media only screen and (max-width: 768px) {
  #harris-logo {
    top: 10vh;
    width: 75vh;
  }

  #cigales-sign {
    width: 200vh;
  }

  #cigales-words {
    width: 200vh;
  }

  .break {
    display: unset;
  }

  .letter {
    font-size: 8vw;
    letter-spacing: normal;
    word-spacing: normal;
  }

  .title-letter {
    font-size: 10vh;
  }

  #title-one {
    top: 0;
    text-align: center;
  }
  
  #title-two {
    font-size: 5vw;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
  }
}


/* Panel Two-All Styles */

.letter-two {
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4.5vw;
  letter-spacing: 3px;
  word-spacing: 4px;
  text-shadow: 1px 1px 1px black;
  color: #E7E6D4;
  opacity: .9;
}

#panel-two-text {
  margin-top: 100vh;
}

#chimneys {
  width: 100vw;
  height: auto;
}


































/*OLD STYLES-IDENTICAL TO GREENSOCK-TEST*/

/*.center {
  display: flex;
  justify-content: space-around;
}

img.center {
  display: flex;
  justify-content: center;
}

.col-style {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.output-intro {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.logo {
  margin: 20px;
  max-width: 300px;
  width: 30%;
  position:absolute;
}

.logo-two {
  margin: 20px;
  max-width: 300px;
  width: 30%;
  position:absolute;

}
.text-columns {
  margin-top: 50px;
}

.bottom-logo {
  margin-top: 125px;
}

.box {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 350px;
  width: 100px;
  height: 10vh;
  background-color: rgba(30,215,115,.8);
  border: 8px solid #d71e82;
  border-radius: 15px;
}*/
