/* Page Styles */
body {
  /*background-color: rgba(231,230,212, 1);*/
  /*font-family: 'Cinzel', serif;*/
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  border-radius: 0px;
  width: 102vw;
  margin-left: -1%;
  overflow: hidden;
  -webkit-z-index: -1;
  position: relative;
}

.panel-position {
  position: relative;
  margin-bottom: -6%;
}

.panel-text {
  position: absolute;
  top: 10%;
  right: 5%;
  border-radius: 3px;
  padding: 1% 2% 0% 2%;
  background-color: black;
  color: #E7E6D4;
  letter-spacing: 1.5px;
  word-spacing: 2px;
  opacity: .50;
}

.panel-text:hover {
  cursor: pointer;
}

.panel-full-text {
  font-family: 'Playfair Display', serif;
  overflow: scroll;
  position: absolute;
  top: 10%;
  left: 5%;
  right: 5%;
  bottom: 20%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  letter-spacing: .1em;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 1%;
}

.panel-full-text:hover {
  cursor: pointer;
}

.panel-text-visibility {
  display: none;
}

.panel-back-info {
  position: absolute;
  top: 1%;
  left: 1%;
}

.panel-back-wine-pic {
  width: 25vw;
  margin-top: 25px;
}

.panel-back-text {
  float: right;
  text-align: right;
  width: 50%;
  margin-top: 10%;
  margin-right: 20%;
  font-size: 3vw;
}

.panel-back-text-body {
  font-family: "Playfair Display";
}

.wines {
  opacity: .4;
  transition: .2s;
  position: absolute;
  bottom: 15%;
  right: 5%;
  width: 15%;
}

.wines:hover {
  opacity: .7;
  transition: .2s;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .wines {
    bottom: 10%;
    right: 5%;
    width: 10%;
  }
  .panel-position {
    margin-bottom: -4%;
  }
  .panel-text {
    font-size: 25px;
  }
  .panel-full-text {
    font-size: 18px;
  }
}

@media only screen and (min-width: 832px) {
  .panel-back-text {
    float: right;
    text-align: right;
    width: 50%;
    margin-top: 10%;
    margin-right: 15%;
    font-size: 25px;
  }
  .panel-back-wine-pic {
    width: 22vw;
    margin-top: 15px;
  }
  .panel-position {
    margin-bottom: -2%;
  }
}

@media only screen and (min-width: 992px) {
  .panel-text {
    font-size: 35px;
  }
  .panel-full-text {
    font-size: 22px;
    bottom: 10%;
    top: auto;
    left: 5%;
    right: 20%;
  }

}

/*PANEL CASE STYLES*/
.panel-case {
  margin-top: 5%;
  margin-bottom: 5%;
  position: relative;
}

.panel-case-pic {
  max-width: 45vw;
  border-radius: 10px 10px 10px 10px;
  padding-left: 1%;
}

.panel-case-words-title {
  font-weight: bold;
  font-size: 1.1em;
}

.panel-case-words {
  float: right;
  max-width: 48%;
  padding-right: 2%;
  font-family: 'Playfair Display', serif;
  font-size: .85em;
}

.mucy-brothers {
  position: absolute;
  top: 50%;
  font-size: 1.5em;
  border-radius: 3px;
  padding: 1% 2% 0% 2%;
  background-color: rgba(0,0,0,.4);
  color: #E7E6D4;
}


@media only screen and (min-width: 420px) {
  .panel-case-words-title {
    font-weight: bold;
    font-size: 1.3em;
  }

  .panel-case-words {
    float: right;
    max-width: 48%;
    padding-right: 2%;
    font-family: 'Playfair Display', serif;
    font-size: 1em;
  }
}

@media only screen and (min-width: 600px) {
  .panel-case-words-title {
    font-weight: bold;
    font-size: 1.3em;
  }

  .panel-case-words {
    float: right;
    max-width: 48%;
    padding-right: 2%;
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
  }
  .mucy-brothers {
    font-size: 3em;
  }
}

@media only screen and (min-width: 992px) {
  .panel-case-pic {
    max-width: 40vw;
  }

  .panel-case-words-title {
    font-size: 1.5em;
  }

  .panel-case-words {
    font-size: 1.4em;
  }
  .mucy-brothers {
    font-size: 3em;
  }
}


/* Flip Styles */
.panel-front {
  -webkit-backface-visibility: hidden;
}

.panel-back {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  background-color: white;
  -webkit-transform: rotateY(180deg);
  transition: 0.6s;
}

.panel-back-image {
  opacity: 0.0;
}

.panel-flip {
  -webkit-transform: rotateY(180deg);
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
}
.panel-flip-back {
  -webkit-transform: rotateY(0deg);
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
}

/* Panel Title Styles */

.title-panel {
  position: relative;
  /*FOR MAGENTO*/
  margin-top: 10%;
  /*END FOR MAGENTO*/
}

#cigales-sign-full {
  position: relative;
  top: 0;
  width: 100vw;
  height: auto;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}

#panel-title-text {
  position: absolute;
  /*FOR MAGENTO*/
  top: 10%;
  /*top: 3%;*/
  /*END FOR MAGENTO*/
  left: 3%;
  text-shadow: 1px 1px 2px black;
  color: #E7E6D4;
  opacity: .9;

}

.text-one {
  font-size: 5vw;
  letter-spacing: 2px;
  word-spacing: 3.5px;
  margin-top: -2%;
}

.text-two {
  font-size: 3.7vw;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  margin-left: 44.5%;
  margin-top: -10%;
  /*FOR MAGENTO*/
  padding-top: 5%;
  /*END FOR MAGENTO*/
}

@media only screen and (min-width: 600px) {
  .text-two {
    margin-top: -2%;
    margin-left: 46%;

  }
}


/*TRANSITIONS */
#panel-two-front {
  transition: 0.6s;
}
#panel-three-front {
  transition: 0.6s;
}
#panel-four-front {
  transition: 0.6s;
}
#panel-five-front {
  transition: 0.6s;
}


/*OVERRIDE BOOTSTRAP*/

.navbar-opacity {
  opacity: .4;
  /*background-color: rgba(255,255,255,.3);*/
}

.navbar-opacity:hover {
  opacity: .8;
}

/*.container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}*/

















/*
#panel-two-text {
  position: absolute;
  top: 5%;
  left: 47%;
  right: 5%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1%;
  border-radius: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px black;
  color: white;
  opacity: .9;
}

.text-three {
  font-size: 2vw;
  letter-spacing: 1.5px;
  word-spacing: 3px;
}*/
















/*OLD STYLES*/


/* Panel Three Styles */
/*#red-door {
  position: relative;
  width: 100%;
  height: auto;
}

#panel-three-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px black;
  color: white;
  opacity: .9;
}

#panel-three-left-text {
  position: absolute;
  top: 45%;
  left: 3%;
  max-width: 30%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1%;
  border-radius: 10px;
}

#panel-three-right-text {
  position: absolute;
  top: 45%;
  left: 67%;
  right: 3%;
  max-width: 40%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1%;
  border-radius: 10px;
}

.text-four {
  font-size: 1.3vw;
  letter-spacing: 1px;
  word-spacing: 1px;
}

#panel-three-wine {
  top: 1%;
  left: 1%;
  position: absolute;
  width: 15%;
}

#panel-three-wine:hover {
  cursor: pointer;
}*/

/* Panel Four Styles */
/*#shack {
  position: relative;
  width: 100%;
  height: auto;
}

#panel-four-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px black;
  color: white;
  opacity: .9;
  position: absolute;
  top: 53%;
  left: 3%;
  bottom: 1%;
  max-width: 30%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1% 1% 0% 1%;
  border-radius: 10px;
}

#panel-four-wine {
  bottom: 1%;
  right: 1%;
  position: absolute;
  width: 15%;
}

#panel-four-wine:hover {
  cursor: pointer;
}*/


/* Panel Five Styles */
/*#castle {
  position: relative;
  width: 100%;
  height: auto;
}

#panel-five-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px black;
  color: white;
  opacity: .9;

  position: absolute;
  top: 50%;
  left: 6%;
  max-width: 45%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1% 1% 0% 1%;
  border-radius: 10px;
}

#panel-five-wine {
  bottom: 1%;
  right: 1%;
  position: absolute;
  width: 15%;
}

#panel-five-wine:hover {
  cursor: pointer;
}*/


/*MEDIA QUERIES*/
/*667-phone landscape*/
/*385-pnone portrait*/






/*Panel Two*/
/*@media only screen and (max-width: 667px) {
  .panel-two-front {
    background: url("../img/chimneys.png");
    background-size: cover;
  }
  .panel-two-back {
    background: url("../img/red-door.png");
    background-size: cover;
  }
  .panel-two {
    height: auto;
  }

  #chimneys {
    visibility: hidden;
  }

  #panel-two-text {
    width: 95%;
    top: 35%;
    left: 2.5%;
    right: 2.5%;
    bottom: 2.5%;
  }

  .text-three {
    font-size: 3.5vw;
  }
}
@media only screen and (max-width: 400px) {
  #panel-two-text {
    height: 130%;
    top: 140%;
  }
  .text-three {
    font-size: 5vw;
  }

}*/

/*Panel Three*/
/*@media only screen and (max-width: 667px) {
  #red-door {
    visibility: hidden;
  }
  .panel-three {
    background: url("../img/red-door.png") center;
    background-size: cover;
  }
  #panel-three-left-text {
    top: 4%;
    left: 3%;
    right: 3%;
    max-width: 90%;
  }
  #panel-three-right-text {
    top: 50%;
    left: 3%;
    right: 3%;
    max-width: 90%;
  }
  .text-four {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 400px) {
  .text-four {
    font-size: 4vw;
  }
  #panel-three-right-text {
    top: auto;
    bottom: 0px;
  }
}*/

/*Panel Four*/
/*@media only screen and (max-width: 667px) {
  #shack {
    visibility: hidden;
  }
  .panel-four {
    background: url("../img/shack.png") center;
    background-size: cover;
  }
  #panel-four-text {
    max-width: 95%;
    top: 53%;
    left: 2.5%;
    right: 2.5%;
    bottom: 2.5%;
  }
  #panel-four-wine {
    top: 1%;
    left: 1%;
  }
}
@media only screen and (max-width: 400px) {
  #panel-four-text .text-four {
    font-size: 5vw;
    text-align: justify;
  }
  #panel-four-text {
    left: 4%;
    right: 4%;
    top: 33%;
    bottom: auto;
  }
  #panel-four-wine {
    top: 1%;
    left: 1%;
  }
}*/

/*Panel Five*/
/*@media only screen and (max-width: 667px) {
  #castle {
    visibility: hidden;
  }
  .panel-five {
    background: url("../img/castle.png");
    background-size: cover;
  }
  #panel-five-text {
    max-width: 95%;
    top: 30%;
    left: 2.5%;
  }
  #panel-five-wine {
    top: 1%;
    left: 1%;
  }
}
@media only screen and (max-width: 400px) {
  #panel-five-text .text-four {
    font-size: 4.5vw;
  }
  #panel-five-text {
    left: 4%;
    right: 4%;
    top: 25%;
    bottom: auto;
  }
  #panel-five-wine {
    top: 1%;
    left: 1%;
  }
}
*/
