/* Page Styles */
body {
  background-color: #E7E6D4;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  overflow: hidden;
  position: relative;
  width: 100%;
  border: 10px solid black;
  border-radius: 10px;
  background: #5B110E;
}

/* Panel One-All Styles */
#cigales-sign-full {
  position: relative;
  top: 0;
  width: 100%;
  height: auto;
}

#panel-one-text {
  position: absolute;
  top: 3%;
  left: 4%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px black;
  color: #E7E6D4;
  opacity: .9;

}

.text-one {
  font-size: 5.5vw;
  letter-spacing: 2px;
  word-spacing: 3.5px;

}

.text-two {
  font-size: 3vw;
  letter-spacing: 1.5px;
  word-spacing: 3px;
}


/* Panel Two-All Styles */
#chimneys {
  position: relative;
  width: 100%;
  height: auto;
}

#panel-two-text {
  position: absolute;
  top: 5%;
  left: 47%;
  right: 5%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1%;
  border-radius: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px black;
  color: white;
  opacity: .9;
}

.text-three {
  font-size: 2vw;
  letter-spacing: 1.5px;
  word-spacing: 3px;
}


/* Panel Three-All Styles */
#red-door {
  position: relative;
  width: 100%;
  height: auto;
}

#panel-three-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px black;
  color: white;
  opacity: .9;
}

#panel-three-left-text {
  position: absolute;
  top: 45%;
  left: 3%;
  max-width: 30%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1%;
  border-radius: 10px;
}

#panel-three-right-text {
  position: absolute;
  top: 45%;
  left: 67%;
  right: 3%;
  max-width: 40%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1%;
  border-radius: 10px;
}

.text-four {
  font-size: 1.3vw;
  letter-spacing: 1px;
  word-spacing: 1px;
}


/* Panel Four-All Styles */
#shack {
  position: relative;
  width: 100%;
  height: auto;
}

#panel-four-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px black;
  color: white;
  opacity: .9;
  position: absolute;
  top: 53%;
  left: 3%;
  bottom: 1%;
  max-width: 30%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1% 1% 0% 1%;
  border-radius: 10px;
}


/* Panel Five-All Styles */
#castle {
  position: relative;
  width: 100%;
  height: auto;
}

#panel-five-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px black;
  color: white;
  opacity: .9;

  position: absolute;
  top: 50%;
  left: 6%;
  max-width: 45%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1% 1% 0% 1%;
  border-radius: 10px;
}



/*MEDIA QUERIES*/
/*481-phone landscape*/
/*320-pnone portrait*/

/*All*/
@media only screen and (max-width: 481px) {
  .panel {
    height: 100vh;
  }
}

/*Panel One*/
@media only screen and (max-width: 481px) {
  .panel-one {
    background: url("../img/cigales-sign-full.png");
    background-size: cover;
  }
  #cigales-sign-full {
    visibility: hidden;
  }
  .text-one {
    font-size: 6vw;
  }
  .text-two {
    margin-top: 3%;
    font-size: 4vw;
  }
}

@media only screen and (max-width: 320px) {
  .panel-one {
    background-size: 400%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .text-one {
    font-size: 8vw;
  }
  .text-two {
    margin-right: 1.5%;
    font-size: 6vw;
    text-align: right;
  }
}

/*Panel Two*/
@media only screen and (max-width: 481px) {
  .panel-two {
    background: url("../img/chimneys.png");
    background-size: cover;
  }

  #chimneys {
    visibility: hidden;
  }

  #panel-two-text {
    width: 95%;
    top: 35%;
    left: 2.5%;
    right: 2.5%;
    bottom: 2.5%;
  }

  .text-three {
    font-size: 3.5vw;
  }
}
@media only screen and (max-width: 320px) {
  #panel-two-text {
    top: 50%;
  }
  .text-three {
    font-size: 5vw;
  }
}

/*Panel Three*/
@media only screen and (max-width: 481px) {
  #red-door {
    visibility: hidden;
  }
  .panel-three {
    background: url("../img/red-door.png") center;
    background-size: cover;
  }
  #panel-three-left-text {
    top: 4%;
    left: 3%;
    right: 3%;
    max-width: 90%;
  }
  #panel-three-right-text {
    top: 50%;
    left: 3%;
    right: 3%;
    max-width: 90%;
  }
  .text-four {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 320px) {
  .text-four {
    font-size: 4vw;
  }
  #panel-three-right-text {
    top: auto;
    bottom: 0px;
  }
}
/*Panel Four*/
@media only screen and (max-width: 481px) {
  #shack {
    visibility: hidden;
  }
  .panel-four {
    background: url("../img/shack.png") center;
    background-size: cover;
  }
  #panel-four-text {
    max-width: 95%;
    top: 53%;
    left: 2.5%;
    right: 2.5%;
    bottom: 2.5%;
  }
}
@media only screen and (max-width: 320px) {
  #panel-four-text .text-four {
    font-size: 5vw;
    text-align: justify;
  }
  #panel-four-text {
    left: 4%;
    right: 4%;
    top: 33%;
    bottom: auto;
  }
}
/*Panel Five*/
@media only screen and (max-width: 481px) {
  #castle {
    visibility: hidden;
  }
  .panel-five {
    background: url("../img/castle.png");
    background-size: cover;
  }
  #panel-five-text {
    max-width: 95%;
    top: 30%;
    left: 2.5%;
  }
}
@media only screen and (max-width: 320px) {
  #panel-five-text .text-four {
    font-size: 5vw;
  }
  #panel-five-text {
    left: 4%;
    right: 4%;
    top: 10%;
    bottom: auto;
  }
}


















/*OLD STYLES-IDENTICAL TO GREENSOCK-TEST*/

/*.center {
  display: flex;
  justify-content: space-around;
}

img.center {
  display: flex;
  justify-content: center;
}

.col-style {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.output-intro {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.logo {
  margin: 20px;
  max-width: 300px;
  width: 30%;
  position:absolute;
}

.logo-two {
  margin: 20px;
  max-width: 300px;
  width: 30%;
  position:absolute;

}
.text-columns {
  margin-top: 50px;
}

.bottom-logo {
  margin-top: 125px;
}

.box {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 320px;
  width: 100px;
  height: 10vh;
  background-color: rgba(30,215,115,.8);
  border: 8px solid #d71e82;
  border-radius: 15px;
}*/
